@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

section{
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 15);

    nav{
        width: 100%;
        height: 10%;
        background: transparent;
        
        ol{
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding:3rem ;

            @media (max-width:425px) {
                padding:2rem;
            }
    

            .about{
                color: rgb(160, 159, 159);
                font-family: 'Quicksand', sans-serif;
                font-size: 1rem;
                font-weight: 800;
                text-transform: uppercase;
                margin-top: 0.5rem;
                transition: 0.5s;

                &:hover{
                    color: white;
                }
            }

                span{
                    font-family: 'Abhaya Libre', serif;
                    font-weight: 800;
                    font-size: 1.7rem;
                    color: white;
                }
           
                    a{
                        text-decoration: none;
                    }
        }
    }
    .contenu{
        width: 100vw;
        height: 70%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom:0;

        @media (max-height:730px){
            margin-top: 10vh;
        }


        .carroussel{
            width: 100%;
            height: 500px;
            position: relative;
            overflow-x: scroll;
            overflow-y: hidden;
            
            &::-webkit-scrollbar{
                border-radius: 50px;
                height: 10px;
                border: 5px solid black;
                
                }
            
            &::-webkit-scrollbar-thumb{
                background: white;
                border-radius: 10px;
            }

            p{
                position: fixed;
                margin-left: 100px;
                margin-top: 20px;
                color: white;
                font-size: 30px;
                font-family: 'Quicksand', sans-serif;

                @media (max-width:425px) {
                    margin-top: 50px;
                    margin-left:30%;
                }
                @media (max-height:550px) {
                    margin-top: 100px;
                }

            
            }

            ol{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                list-style: none;
                padding-left: 100px;

                @media (max-width:425px) {
                    padding-left: 10%;
                }
                @media (max-width:325px) {
                    margin-top: 50px;
                }


                li{
                    display: flex;
                    align-items: center;
                    margin-right: 100px;
                    position: relative;

                    @media (max-width:425px) {
                        margin-right: 50px;
                    }

                    img{
                        width: 100%;
                        min-width: 500px;
                        height: 100%;
                        position: relative;

                        @media (max-width:425px) {
                            min-width: 350px;
                        }
                    }
                    span{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        transform: translate(-10%,0);
                        background: linear-gradient(to bottom, transparent, white);
                        padding-bottom: 25px;
                        color:black;
                        font-size: 20px;
                        font-family: 'Quicksand', sans-serif;
                        word-spacing: 50px;
                        font-weight: 600;
                        top: 0;
                        left:0;
                        margin-left: 50px;
                        opacity: 0;
                        transition: 0.5s all;

                        @media (max-width:425px) {
                            transform: translateX(-15%);
                            font-size: 15px;
                        }
                    }
                    &:hover span{
                        opacity: 1;
                    }
                }

            }
        }
    }

    .bottom-bar{
        position: absolute;
        width: 100%;
        height: 15vh;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        

        a{
            text-decoration: none;
            i{
                color:gray;
                transform: scale(1.5);
                margin-left: 100px;
                transition: 0.5s;

                @media (max-width:425px) {
                   margin-left: 50vw;
                }

                &:hover{
                    transform: scale(2);
                    color:white;
                }

                @media (max-width:425px) and (hover:none){
                
                    transform:scale(1.5);
                    color: gray;
        
                }
            }
        }
    }
}


